<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>cxcWeb</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:application-config.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>com.huawei.rest.UserDetail</param-value>
	</context-param>

	<!-- resteasy启动初始化监听器 -->
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<!-- resteasy和spring整合，有了这个，ContextLoaderListener就不要了 -->
	<listener>
		<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/services</param-value>
	</context-param>

	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/test/*</url-pattern>
	</servlet-mapping>
	
	
</web-app>